body {
    background-color: #282C34;
}

.button {
    background-color: #7DC685;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: white;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
}
