.multiselect {
  width: max-content;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #dadada solid;
  padding: 5%;
}

.checkboxes > label {
  display: block;
}

.checkboxes > label:hover {
  background-color: #1e90ff;
}

.multiselect > .checkboxes > .multiselect {
    margin-left: 5px;
}
