@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-Regular.otf');
}

*
{
    margin: 0;
    padding: 0;
}

html {
    overflow :hidden;
}

header, footer {
    background-color: #004159;
    position: absolute;
    left: 0px;
    width: 100%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    height: 3%;
	font-family: 'Quicksand-Regular', Arial, Serif;
    font-size: 15px;
    color: white;
}

header
{
  top: 0px;
}

footer {
    bottom: 0px;
}

h1
{
	color: #004159;
    text-align: center;
}

form {
  position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
  padding: 30px;
  border: 1px solid #004159;
}

form p {
  text-align: right;
  clear: both;
}
form p span {
  float: left;
  margin-right: 10px;
}

input {
    border: 1px solid #004159;
}

.titre
{
	color: #004159;
	font-family: 'Quicksand-Regular', Arial, Serif;
    text-align: center;
	font-size: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: Bold;
}

.choix_type_admin {

}

.divLinks  {
    padding-bottom: 40px;
}

.inputRSS {
    width: 30%;
}

#connexion {
    color: #004159;
}

#admin_choice_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#send_button {
    border: 0px;
    background: white;
    color : #004159;
    border: 1px solid #004159;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 50%;
}

#divCurrentLinks {
    margin: 20px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 50%;
    width: 75%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    bottom : 30%;
    border: 1px solid #004159;
}

#insertLink {
    margin: 20px;
    width: 75%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,0);

}

/*----------------------------------------------------------------*/
.styledred {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: red;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledred:hover {
    background-color: gray;
}

.styledred:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styledgreen {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledgreen:hover {
    background-color: gray;
}

.styledgreen:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styledwhite {
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledwhite:hover {
    background-color: gray;
}

.styledwhite:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*----------------------------------------------------------------*/
