@font-face {
    font-family: 'Quicksand-Regular';
    src: url('Quicksand-Regular.otf');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('Quicksand-Bold.otf');
}

*
{
    margin: 0;
    padding: 0;
}


header
{
    background-color: #004159;
	position: absolute;
    width: 100%;
    top: 0%;
    padding-top: 10px;
    padding-bottom: 10px;
	font-family: 'Quicksand-Regular', Arial, Serif;
    font-size: 15px;
    color: white;
}


h1
{
	color: #004159;
}

form
{
    position : center;
}

footer
{
    background-color: #004159;
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Quicksand-Regular', Arial, Serif;
    font-size: 15px;
    color: white;
}

.inputRSS {
    width: 30%;
}

/*----------------------------------------------------------------*/
.styledred {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: red;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledred:hover {
    background-color: gray;
}

.styledred:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styledgreen {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: green;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledgreen:hover {
    background-color: gray;
}

.styledgreen:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styledwhite {
    border: 0;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styledwhite:hover {
    background-color: gray;
}

.styledwhite:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*----------------------------------------------------------------*/
